*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

body{
  overflow-x:hidden !important ;
}



/* section 1  start */

.header-section {
    background-color: transparent !important; 
  }
 
  
  .logo img {
    max-height: 70px; 
    border: none;
  }
  


/* section 1  end */

/* 2 cover images start section 2  */

.object-fit-cover {
    object-fit: cover; 
  }
  


/* 2 cover images end section 2  */


 /* paragraph with tagline (100 words ) also add read more button start   */

 .tagline-section {
    background-color: #f8f9fa; 
  }
  
  .tagline {
    font-size: 1.75rem;
  }
  
  .content {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    text-align-last: center;
  }
  
  #readMoreBtn {
    background-color: #E95821; 
    border: none;
    color: white;
  }
  
  
 /* paragraph with tagline (100 words ) also add read more button end   */





 /* <!-- course details with dropdown start section 3 --> */


 .course-details-section {
    background-color: #29376D; /* Light background */
    border-radius: 10px;
    margin:0px 10px;
  }
  
  
  
  .accordion-button {
    background-color: #E95821; 
    color: white;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #E95821; 
  }
  
  .accordion-body {
    background-color: #ffffff;
    font-size: 1rem;
    line-height: 1.6;
  }

  /* <!-- course details with dropdown end section 3 --> */

  /* <!-- youtube video add start  --> */
  

  .video-section {
    background-color: #f8f9fa; 
  }
  
  h2 {
    color: #E95821; 
    font-size: 2rem;
  }
  
  /* <!-- youtube video add end  --> */

  /* GIL advisory board start  */

  .gil-academic-board {
    background-color: #29376D;
    margin: 0px 10px;
    border-radius: 10px;
    padding: 10px;
  }

  .gil-academic-board .img-responsive {
    width: 180px; 
    height: 180px; 
  }

  .gil-academic-board .img-responsive {
    /* height: 200px;  */
    object-fit: contain;
    display: block;
    margin: 0 auto; /* Center the image */
  }
  
  .gil-academic-board .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .gil-academic-board .card-body {
    text-align: center;
  }
  


  /* GIL advisory board end  */







  /* <!-- student images 4   with 40 words text start --> */

  
  /* <!-- student images 4   with 40 words text end --> */


  /* <!-- Awards images 4 start  --> */



  .award-images-section {
    background-color: #f8f9fa; 
  }
  

  
  .award-images-section img {
    /* border-radius: 10px; */
    
    height: 100px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }


  
  /* <!-- Awards images 4 end  --> */


  .student-images-section {
    background-color: #f8f9fa; /* Light background for the section */
  }
  
 
  
  .student-card img {
    width: 120px; 
    height: 120px;
    object-fit: cover;
  }
  
  .student-card p {
    font-size: 0.9rem;
    color: #555;
    padding-top: 10px;
  }

  .Gil-students
  {
    background-color: #E0E0E0;
    padding: 20px;
    height: 350px;
    margin: 5px;
    border-radius: 20px;
  }

  .testimonial-card
  {
    background-color: #E0E0E0;
    padding:20px 10px;
    height: 380px;
    border-radius: 20px;
    font-size: 14px;

  }

  /* <!-- student images 4   with 40 words text end --> */

  /* <!-- intership and placement logo and alumni 12 photos 4 *3 with slider also text start  --> */

 
  .internship-placement-section img {
    width: 100%;
    height: 90px;
    object-fit: contain;
  }
  
  .alumni-photo img {
    width: 220px;
    height: 270px;
    
  }
  
  .internship-placement-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .alumni-photo p {
    font-size: 0.9rem;
    color: #555;
    padding-top: 10px;
  }
  
  /* <!-- intership and placement logo and alumni 12 photos 4 *3 with slider also text end  --> */


  /* conference  */

  .conference-experts-section
  {
    background-color: #29376D;
    margin: 0px 10px;
    border-radius: 10px;
    padding: 10px;
  }

  .conference-experts-section .expert-card
  {
    background-color: #ffffff;
    border-radius: 10px;
  }

/* mobile code  */


.mobile-header
{
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 1;
  margin-left: 20px;

}





  /* footer 
   */

   .footer
   {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   }


  